@using System.Security.Claims

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyAnimeCollection</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/assets/icon.png" width="30" height="30" alt="Logo" /> 𝓜𝔂 𝓐𝓷𝓲𝓶𝓮
                    𝓒𝓸𝓵𝓵𝓮𝓬𝓽𝓲𝓸𝓷
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto mb-6 mb-lg-0"></ul>

                    <form class="d-flex mx-auto" method="get" asp-controller="Anime" asp-action="Search"
                        style="max-width: 600px;">
                        <select class="form-select me-4" name="searchType">
                            <option value="animes">Animes</option>
                            <option value="users">Utilizadores</option>
                        </select>
                        <input type="search" placeholder="Pesquisa..." class="form-control me-4" name="query" />
                        <button class="btn btn-outline-success" type="submit">Procurar</button>
                    </form>

                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        @if (User?.Identity?.IsAuthenticated ?? false)
                        {
                            <a class="nav-link" asp-controller="User" asp-action="Profile"
                                asp-route-userId="@User.FindFirstValue("UserId")">
                                <i class="fa fa-user"></i> @User.Identity.Name
                            </a>
                            <li class="nav-item">
                                <form method="post" asp-area="" asp-controller="User" asp-action="Logout">
                                    <button class="btn btn-link nav-link">
                                        <i class="fa fa-sign-out-alt"></i> Logout
                                    </button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="User" asp-action="Login">
                                    <i class="fa fa-sign-in-alt"></i> Login
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - MyAnimeCollection - <a asp-area="" asp-controller="Home" asp-action="Privacy">Termos de
                Privacidade</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>